p {font-family: sans-serif;}

p.intro {
  width: 50%;
  font-style: italic;
  color: violet;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.sidebar {
  background-color: PaleGoldenRod;
  height: 100%;
  width:20%;
  float: right;
  padding: 10px;
  border: 2px so
}

.column {
  width: 300px;
  float: left;
}
